.cursor-hand {
   cursor: grab !important;
   -webkit-cursor: grab !important;
   -moz-cursor: grab !important;
}

.cursor-hand:active {
   cursor: grabbing !important;
   -webkit-cursor: grabbing !important;
   -moz-cursor: grabbing !important;
}

.cursor-location {
   cursor: none !important;
   -webkit-cursor: none !important;
   -moz-cursor: none !important;
}

.cursor-default {
   cursor: default !important;
   -webkit-cursor: default !important;
   -moz-cursor: default !important;
}
